name: Apply to B12

on:
  workflow_dispatch:
  push:
    branches: ["main"]

jobs:
  submit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Submit application
       
        env:
            B12_NAME: "Hafsa Faisal"
            B12_EMAIL: "hafsafaisal324@gmail.com"
            B12_RESUME_LINK: "https://drive.google.com/file/d/1pIaWGuyicV4AX2uYBCj1mUiAC6rg3TwM/view?usp=sharing"
 

          # Optional: override if you want
          # B12_REPOSITORY_LINK: "https://github.com/your/repo"
        run: |
          python submit_application.py
